* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    contain: paint;
    width: 100vw;
    height: 100vh;
}

#初期メッセージ {
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    color: #9d8e87;
    border: #A3E1F8 2px solid;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#初期メッセージ .大字中央揃え {
    font-size: 1.2rem;
    text-align: center;
}

#初期メッセージ p:not(.大字中央揃え)::before {
    content: '● ';
    font-size: smaller;
    color: #9d8e87;
}

#初期メッセージ::before {
    content: 'Hi!';
    color: #9d8e87;
    display: block;
    position: absolute;
    top: -25px;
    left: 10px;
    font-size: 30px;
    background: white;

}

body>*:not(#初期メッセージ) {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

#初期メッセージ button {
    appearance: none;
    display: block;
    position: relative;
    padding: 3px;
    left: 50%;
    font-size: 1.2rem;
    transform: translate(-50%, 0);
    color: #9d8e87;
    background: white;
    border: 2px #A3E1F8 solid;
    outline: 2px #9d8e87 solid;
    outline-offset: 2px;

    border-radius: 1lh;
    width: 70px;
}

#初期メッセージ button:hover {
    background: #A3E1F8;
}

#初期メッセージ input {
    border: none;
    padding: 5px;
    margin: 5px;
    width: 150px;
    border-bottom: dotted 2px #9d8e87;
    font-size: 1.2rem;
    background: #E6F8FA;
    color: #9d8e87;
}

fieldset {
    border: none;
    margin: 10px;
}

fieldset input {
    margin-right: 6px;
    margin-left: 8px;
}

#物差し {
    position: relative;
    background: #ddbb77;
    overflow: visible;
    width: auto;
    cursor: move;
    border-spacing: 0;
    transform-origin: bottom left;
}

#小目盛り列 td {
    height: 0.2cm;
    border-right: black 1px solid;
    border-top: 0;
    border-bottom: 0;
}



#中目盛り列 td,
#大目盛り列 td {
    height: 0.4cm;
    border-right: black 1.7px solid;
    border-top: 0;
    border-bottom: 0;
}

#中目盛り列 {
    counter-reset: 中単位 -1;
}

#中目盛り列 td {
    counter-increment: 中単位;
}

#中目盛り列 td::before {
    content: counter(中単位) var(--中単位);
    margin-left: 2px;
    font-weight: 300;
}

#大目盛り列 {
    counter-reset: 大単位 -1;
}

#大目盛り列 td {
    counter-increment: 大単位;
}

#大目盛り列 td::before {
    content: counter(大単位) var(--大単位);
    margin-left: 2px;
    font-weight: 300;
}

#ボタン大枠 {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

#ボタン大枠 div {
    margin: 1px;
    width: 196px;
    display: flex;
}

#回転系ボタン枠 {
    left: 49px;
    transform: translateX(25%);
}

#ボタン大枠 div button {
    margin: 2px;
    background: #888;
    color: white;
    border: none;
    font-weight: 100;
    font-size: 30px;
    width: 45px;
    height: 45px;
    line-height: 30px;


}

p {
    margin: 8px;
}

@media (min-width: 768px) {
    #初期メッセージ {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
    }

    #移動系ボタン枠 {
        display: none;
    }

    .pc説明 {
        display: block;
    }

    .携帯説明 {
        display: none;
    }

}

@media (max-width: 767px) {
    #初期メッセージ {
        top: 50%;
        transform: translateY(-50%);
        margin: 15px;
    }

    .携帯説明 {
        display: block;
    }

    .pc説明 {
        display: none;
    }

    fieldset label:nth-of-type(2n):after {
        content: '';
        display: block;
        width: 0;
        margin: 0;
        padding: 0;
    }
}